* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.section-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

section{
    margin: 0 0 50px 0;
}

/* ********** */
.top {
    background-color: #00cad1;
}

.top-content {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu-links ul {
    display: flex;
    list-style: none;
}

.top-menu-links a {
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    color: #fff;
}

.top-menu-links a:hover {
    color: #232323;
    transition: 0.4s;
}

/* ********** */
.bg-image-section {
    background-image: url("/assets/img/recepcao2.jpg");
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-image-section-text {
    padding: 0 20px;
    color: #fff;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bg-image-section-text h1,
.bg-image-section-text p {
    font-size: 2.8em;
    font-weight: 500;
    text-transform: uppercase;
}

/* ********** */
.box-text {
    color: #6f6f6f;
    padding: 5px 130px;
}

.box-text h2 {
    text-align: center;
    font-size: 2em;
}

.box-text h3 {
    text-align: center;
    font-size: 1.4em;
}

.box-text p {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.about-clinic-list {
    color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-clinic-list h3 {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.about-clinic-list ul {
    padding: 0 40px;
}

.about-clinic-list h4 {
    font-weight: 500;
}

/* ********** */
.specials-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.specials-box figure {
    width: calc(100% / 3);
    margin: 0 20px;
    box-shadow: 0 0 10px #000000c3;
}

.specials-box img {
    width: 100%;
}

.specials-box figcaption {
    padding: 15px 0;
    text-align: center;
}

.opening-hours {
    text-align: center;
}

.opening-hours a {
    background-color: #00cad1;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.opening-hours:hover,
.opening-hours a:hover {
    color: #6f6f6f;
    transition: .5s;
    transform: scale(1.01);
}

/* ********* */
footer {
    margin-top: 40px;
    background-color: #0c6e71;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 1.2em;
    padding: 40px;
}

/*  */
@media (max-width: 768px) {
    .top-content {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .top-menu-links {
        padding-top: 20px;
        border-top: 1px solid #8d8b8b;
    }

    /*  */
    .bg-image-section {
        min-height: 300px;
    }

    .bg-image-section-text {
        min-height: 300px;
    }

    .bg-image-section-text h1,
    .bg-image-section-text p {
        font-size: 1.8em;
    }

    /*  */
    .box-text {
        padding: 50px 50px 10px;
    }

    .about-clinic-list h3 {
        text-align: center;
        padding: 5px;
    }

    .about-clinic-list img {
        display: none;
    }

    /*  */
    .specials-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-bottom: 50px;
    }

    .specials-box figure {
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    .specials-box {
        flex-direction: column;
        align-items: center;
    }

    .specials-box figure {
        width: calc(70%);
    }
}

@media (max-width: 425px) {
    .bg-image-section {
        min-height: 200px;
    }

    .bg-image-section-text {
        min-height: 200px;
    }

    .bg-image-section-text h1,
    .bg-image-section-text p {
        font-size: 1.4em;
    }

    /*  */
    .box-text {
        padding: 50px 20px 10px;
    }

    .about-clinic-list img {
        display: none;
    }

}